* {
    margin: 0;
    padding: 0;
  }
  
body{
  background-image: url(img/machu-picchu-61-c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} 

  .display {
    display: flex;
    background-color: rgb(58, 58, 252);
  }
  
  .display img {
    width: 200px; 
    margin-left: auto;
    margin-right: auto; 
  }
  
  .display img:hover {
    cursor: pointer;
    filter: brightness(150%);
  }
  
 